.App {
    --header-height: 60px;
    margin: 0;

}

.hw {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 0 50px;
}

.hwTitle {
    margin: 30px;
    font-family:sans-serif, Montserrat;
    font-style: normal;
    font-size: 22px;
    letter-spacing: normal;
    color: var(--color);
    border-bottom: 1px solid var(--color);
    gap: 10px 10px;
    padding: 30px 50px;
}