.burgerMenuIcon {
    cursor: pointer;
}

.header {
    height: 80px;
    background: rgba(73, 183, 214, 0.84);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 30px;
}

.header h1 {
    font-family: sans-serif,Montserrat;
    font-size: 24px;
    width: 124px;
}